body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.view {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.view:hover {
  background-color: #4caf50;
  border: 1px solid black;
}

div {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.options{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #2f5d62;
}

button.selected{
  background-color: #2f5d62
}

h1{
  text-align: center;
}

.result {
  margin-top: 10px;
  font-size: 16px;
  /* font-weight: bolder; */
}

p {
  margin-top: 5px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin: 8px 0;
}
